.*
{
	box-sizing: border-box;
}
body
{
	margin:0;
}
.taskbar
{
	display: flex;
	justify-content:space-between;
	position:sticky;
	padding:10px;
	background:white;
	height:40px;
}
.menu
{
	display:flex;
	position:sticky;
	top:0;
}

.ham
{
	font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  position:absolute;
  top:10px;
  left:13px;
}
.menu img
{
	width:100px;
	position:absolute;
	top:10px;
	left:50px;
}
.search
{
	display:flex;
	justify-items:center;
	padding:10px;
	position:absolute;
	top:0px;
	left:350px;
}
.search input
{
	width:500px;
	height:30px;
	padding:0px;
	border:1px;
	margin:0;
}
.search form
{
	width:500px;
	height:30px;
	padding:2px 6px;
	margin:0px 0px 0px 34px;
	font : 10px Roboto;
	border:1px solid #ddd;
}
.search button
{
	border : none;
	border-radius: none;
	width:50px;
	height:36px;
	padding:0;
	margin : 0;
	position:absolute;
	top:10px;
	left:555px;
}
,search button icon
{
	padding:2px;
}
.icons
{
	display:flex;
}
.Navbar
{
	width:175px;
	height:100%;

}
.navbar ul
{
	list-style-type: none;
}
.mic
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
	top:15px;
	right:350px;
}
.video
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
	top:15px;
	right:200px;
}
.grid
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
	top:15px;
	right:150px;
}
.noti
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
	top:15px;
	right:100px;
}
.acc
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
	top:15px;
	right:50px;
}	
.general
{
	display:flex;
	flex-direction: column;
	position:relative;
}
.general ul
{
	list-style-type: none;
}
.general ul li a
{
	text-decoration: none;
	color:black;
}
.hm
{
	position:absolute;
	top: 15px;
	left: 65px;
}
.ex 
{
	position:absolute;
	top: 50px;
	left: 65px;
}
.srts 
{
	position:absolute;
	top: 85px;
	left: 65px;
}
.sub 
{
	position:absolute;
	top: 122px;
	left: 65px;
}
.home
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
    position:absolute;
    top:10px;
    left:23px;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.explore
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
    top:48px;
    left:23px;
	 font-variation-settings:
  	 'FILL' 0,
	 'wght' 100,
  	 'GRAD' 200,
  	 'opsz' 40
}
.subs
{	
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
    top:118px;
    left:23px;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' -25,
  'opsz' 40
}
.shorts
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
    top:83px;
    left:23px;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' -25,
  'opsz' 40
}
.navbar hr
{
	position:relative;
	top:165px;
}
.lib
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
	top:250px;
	left:23px;
}
.history
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
	top:300px;
	left:23px;
}
.yourvideos
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
	top:350px;
	left:23px;
}
.watchlater
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position: absolute;
	top:400px;
	left:23px;
}
.likedvideos
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
	top: 450px;
	left:23px;
}
.libr
{
	position:absolute;
	top: 253px;
	left: 65px;
}
.his 
{
	position:absolute;
	top: 304px;
	left: 65px;
}
.yv 
{
	position:absolute;
	top: 353px;
	left: 65px;
}
.wl 
{
	position:absolute;
	top: 405px;
	left: 65px;
}
.lv 
{
	position:absolute;
	top: 455px;
	left: 65px;
}
.account ul li a
{
	text-decoration: none;
	color:black;
}
.general hr
{
	position: relative;
	top : 250px;
}
.account hr
{
	position: relative;
	top:400px
}
.subscriptions h5
{
	position:absolute;
	top : 490px;
	left : 22px;
}
.music
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position:absolute;
	top:545px;
	left : 26px;
}
.sports
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';	
	position:absolute;
	top : 590px;
	left:26px;
}
.gaming
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position: absolute;
	top:630px;
	left:26px;
}
.movies
{
	font-family: 'Material Icons';
	font-weight: normal;
 	font-style: normal;
	font-size: 24px;  /* Prferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	position: absolute;
	top : 670px;
	left : 26px;
}
.subscriptions ul li a
{
	text-decoration: none;
	color:black;
}
.mus
{
	position:absolute;
	top : 548px;
	left : 65px;
}
.spo 
{
	position: absolute;
	top : 592px;
	left : 65px;
}
.gam 
{
	position: absolute;
	top : 633px;
	left : 65px;
}
.mov 
{
	position : absolute;
	top : 673px;
	left : 65px;
}
.contents
{
	width : 100%;
}
.elements
{
	position:absolute;
	top : 100px;
	left : 200px;
	background-color:white;
	display:grid;
	grid-template-columns: 250px 250px 250px 250px;
	grid-auto-rows:250px 250px 250px 250px;
	grid-column-gap: 40px;
	grid-row-gap: 40px;
}
.elements :nth-child(odd)
{
	background-color: black;
}
.elements :nth-child(even)
{
	background-color: crimson;
}
.elements img
{
	width:100%;
	height:100%;
}
